p.lista{
  color:white;
}

mat-selection-list.list{
  position: relative;
  right: 1vh;
  max-height: 33vh;
  display:inline-block;
}

mat-list-option.list2{
  color: white;
  font-family: 'Nurito Sans', sans-serif;
  font-size: 2.5vh;
  width:78vh;
  display:inline-block;
}

button.edit
{
  width:1vh;
  height:5vh;
  left:3vh;
}
button.delete
{
  width:1vh;
  height:5vh;
}
div.entire_struct
{
  width: 88vh;
display:flex;
}


