h1.pnm{
  color: black;
  font-family: 'Nurito Sans', sans-serif;
  font-size: 5vh;
  text-align:center;
}
div.bloco0
{
  white-space:nowrap;
}
p.eatat
{
  position:relative;
  display:inline-block;
}
mat-form-field.datepicker
{
  position:relative;
  display:inline-block;
}
mat-label.chooseday
{
  text-align:center;
}
mat-label.choosehour
{
  text-align:center;
}
div.bloco1
{
  white-space:nowrap;
}
p.around
{
  position:relative;
  display:inline-block;
}
mat-form-field.datepicker_hour
{
  position:relative;
  display:inline-block;
}


button.okbutton {
  position:relative;
  top:8vh;
  left:52vh;
}
button.cancelbutton
{
  position:relative;
  top:8vh;
  left:27vh;
}

