img.circle{
  position:fixed;
  top:10vh;
  right:25vh;
  border-radius: 50%;
  border: 0.5vh solid white;
  max-width: 6%;
}
img.rarrow{
  position:fixed;
  top:3vh;
  right:35vh;
  max-width: 2%;
}
img.larrow{
  position:fixed;
  top:3vh;
  right:40vh;
  max-width: 2%;
}
